@font-face {
  font-family: Ubuntu;
  src: url(Ubuntu-R.ttf);
}

body {
  font-family: Ubuntu, sans-serif;
  background: #1e1e1e; /* Fondo oscuro para el contraste */
  margin: 0;
  padding: 0;
  color: #f7f7f7;
}

#formlogin {
  width: 350px;
  height: 450px;
  margin: 100px auto;
  background: linear-gradient(145deg, #333, #555); /* Fondo degradado metálico */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* Sombra fuerte para dar profundidad */
  text-align: center;
  position: relative;
}

#logo {
  width: 60%;
  margin-bottom: 30px;
}

input, button {
  width: 100%;
  padding: 12px 0;
  margin-bottom: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #333;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

input {
  border-bottom: 2px solid #ffcc00; /* Línea de enfoque amarilla para darle dinamismo */
  background: #222; /* Fondo oscuro para inputs */
}

input::placeholder {
  color: #ccc; /* Color del placeholder en gris */
}

input:focus {
  outline: none;
  background: #ffcc00; /* Cambio a amarillo al hacer foco */
  color: #1e1e1e; /* Color de texto oscuro para mejor contraste */
  border-bottom: 2px solid #333; /* Cambio de la línea de enfoque */
}

button {
  background: #ffcc00; /* Color brillante de rallye */
  color: #1e1e1e; /* Texto oscuro sobre amarillo */
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #ffb800; /* Amarillo más claro al pasar el ratón */
  transform: scale(1.05); /* Escala ligeramente al pasar el ratón */
}

#feedback {
  margin-top: 10px;
  font-size: 14px;
  color: #ffcc00;
}
@keyframes aparece{
	0%{display:block;opacity:0;}
	10%{display:block;opacity:1;}
	90%{display:block;opacity:1;}
	100%{display:block;opacity:0;}
}
#toast{
	width:400px;
	height:50px;
	line-height:50px;
	background:#ffb800;
	color:#1e1e1e;
	border-radius:100px;
	position:absolute;
	left:50%;
	margin-left:-200px;
	bottom:100px;
	text-align:center;
	opacity:0;
}
.animado{
	animation: aparece 10s;
}


